nav {
    background-color: $color-primary;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;

    div {
        background-color: $color-secondary;
        margin: 0 10px;
        z-index: 100;

        a {
            display: inline-block;
            padding: 15px;
        }
    }

    div:hover {
        background-color: rgba(14, 26, 113, 0.6);
        transition-duration: .3s;
    }


    a {
        color: whitesmoke;
    }

    a:hover {
        text-decoration: none;
        color: whitesmoke;
    }
}
