nav {
    background-color: $color-blue;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: $nav-height;

    div {
        background-color: $color-blue-light;
        margin: 0 10px;
        z-index: 100;

        a {
            display: inline-block;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 15px;
        }
        &:hover {
            background-color: $color-blue-dark;
            transition-duration: .3s;
        }
    }



    a {
        color: whitesmoke;

        &:hover {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}
