#week-form {
    color: white;
    background-color: rgb(80, 132, 209);
    width: 600px;
    height: 80vh;
    opacity: 2;
    overflow: scroll;
    flex-direction: column;

    input {
        margin: 0 10px;
        width: 20%;
        border: 0;
        padding: 5px;
    }
}
#form-header {
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 60px;
    background-color: rgb(50, 82, 159);
}
.task {
    display: flex;
    padding: 10px;
}
