#week-form {
    width: 600px;
    height: calc(90vh - #{$nav-height});
    max-height: 700px;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    color: black;
    
    #form-header {
        text-align: center;
        font-size: 40px;
        width: 100%;
        height: 60px;
    }

    .task {
        display: flex;
        padding: 10px;

        input {
            width: 20%;
            max-width: 80px;
            margin-right: 5px;
            border: 0;
            padding: 5px;
        }
    }
}

