
#week-form {
    color: white;
    background-color: rgb(80, 132, 209);
    width: 600px;
    height: 80vh;
    opacity: 2;
    overflow: scroll;
}
#popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.5);
}
#form-header {
    text-align: center;
    font-size: 40px;
    width: 100%;
    background-color: rgb(50, 82, 159);
}
#popup input {
    margin: 0 10px;
    width: 20%;
    border: 0;
    padding: 5px;
}
.task {
    display: flex;
    padding: 10px;
}
