/* This is for storing variables...like colors! */
:root {
    --main-clr: #372c9b;
    --secondary-clr: rgb(139, 141, 255);
    --terciary-clr: rgb(182, 183, 248);
}

nav {
    background-color: var(--main-clr);
    display: flex;
    justify-content: center;
}
.navButton {
    background-color: var(--secondary-clr);
    padding: 15px;
    margin: 0 10px;
}
.navButton:hover {
    background-color: var(--terciary-clr);
    transition-duration: .3s;
}
a {
    color: whitesmoke;
}
a:hover {
    text-decoration: none;
    color: whitesmoke;
}
body {
    background-color: whitesmoke;
}