/* This is for storing variables...like colors! */
:root {
    --main-clr: #372c9b;
    --secondary-clr: rgb(139, 141, 255);
    --terciary-clr: rgb(182, 183, 248);
}

nav {
    background-color: var(--main-clr);
    display: flex;
    justify-content: center;
}
.navButton {
    background-color: var(--secondary-clr);
    margin: 0 10px;
}
.navButton:hover {
    background-color: var(--terciary-clr);
    transition-duration: .3s;
}
.navButton > a {
    display: inline-block;
    padding: 15px;
}
a {
    color: whitesmoke;
}
a:hover {
    text-decoration: none;
    color: whitesmoke;
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeecec;
    opacity: 1; /* Firefox */
}
.center {
    margin: 0 auto;
}
.box{
    margin: 30px auto;
    padding: 30px;
    width: 500px;

    border: solid var(--secondary-clr) 2px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}