<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>CALENDAR</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    
    <style>
        .week-summary {
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            background-color: lightgrey;
            margin: 10px;
        }
        .edit {
            width: 40px;
            height: 40px;
            background-color: lightgreen;
        }
    </style>

    <script>
        function show_popup() {
            document.getElementById("popup").style.display = "block"
        }
        function hide_popup() {
            document.getElementById("popup").style.display = "none"
        }
    </script>
</head>

<body>
    <% include navbar.ejs %>
    <div class="box">
        <h2>Point Submission for Spring 2020</h2>
        <h3>Point Total: <span id="total-points"></span></h3>
        <div style="margin:5px; display: flex; flex-direction: column">
            <% for (let i = 1; i < 6; i++) { %>
                <div class="week-summary">
                    <div><h2>Week <span class="week-num"><%= i %></span></h2></div>
                    <div><h3>Total points: 
                        <span class="total-points-week" id="total-points-week-<%= i %>">
                            <%= points[i] == undefined ? 0 : points[i] %>
                        </span>
                    </h3></div>
                    <div class="edit">edit</div>
                </div>
            <% } %>
        </div> 

        <%- include("popup", { tasks: tasks }) %>
    </div>

    <script src="./static/js/weekform.js"></script>
    <script src="./static/js/summary.js"></script>
</body>


</html>

