<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>CALENDAR</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    <script src="./static/js/weekform.js"></script>
    
    <style>
        .week-summary {
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            background-color: lightgrey;
            margin: 10px;
        }
        #popup input {
            margin: 10px;
            width: 20%;
        }
        #popup {
            /*position: absolute;
            top: 50%;
            margin-left: -200px;
            margin-top: -250px;
            left: 50%; */
            background-color: rgb(80, 132, 209);
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
        }
        #popup div {
            width: 100%;
            color: white;
        }
        .task {
            display: flex;
        }
    </style>

    <script>
        function show_popup() {
            document.getElementById("popup").style.display = "block"
        }
        function hide_popup() {
            document.getElementById("popup").style.display = "none"
        }
    </script>
</head>

<body>
    <% include navbar.ejs %>
    <div class="box">
        <h2>Point Submission for Spring 2020</h2>
        <div style="margin:5px; display: flex; flex-direction: column">
            <% for (let i = 1; i < 6; i++) { %>
                <div class="week-summary">
                    <div><h2>Week <%= i %></h2></div>
                    <div><h3>Total points: <span id="total-points-week-<%= i %> "></span></h3></div>
                </div>
            <% } %>
        </div> 

        <%- include("popup", { tasks: tasks }) %>
    </div>

</body>


</html>

