<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>CALENDAR</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    
    <style>
        .square {
            background-color: red;
            margin: 5px;
            width: 100px;
            height: 80px;
            color: whitesmoke;
            text-align: center;
        }
        .rectangle {
            background-color: rgb(168, 168, 173);
            text-align: center;
            margin: 5px;
            width: 550px;
            height: 100px;
        }
        #popup input {
            margin: 10px;
        }
        #popup {
            position: absolute;
            left: 50%;
            margin-left: -200px;
            margin-top: -250px;
            top: 50%;
            background-color: rgb(80, 132, 209);
            width: 375px;
            height: 400px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            display: none;
        }
        #popup div {
            width: 100%;
            color: white;
            padding: 10px;
        }
    </style>

    <script>

        

        function show_popup() {
            document.getElementById("popup").style.display = "block"
        }
        function hide_popup() {
            document.getElementById("popup").style.display = "none"
        }
    </script>
</head>

<body>
    <% include navbar.ejs %>
    <div class="box">
        <h2>Point Submission for Spring 2020</h2>
    <div style="margin:5px; display: flex; flex-direction: column">
        <% for (let i = 0; i < 5; i++) { %>
            <div class="rectangle">Week <%= i + 1 %></div>
        <% } %>
    </div> 

    <div id="popup">
        <div><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input>ran<br /></div>
        <div><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input>stood up<br /></div>
        <div><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input>ate an apple<br /></div>
        <div><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input>take the stairs<br /></div>
        <div><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input><input type="checkbox"></input>make a website<br /></div>
        <div><button>Submit</button></div>
    </div>

    <script>
    document.querySelectorAll(".rectangle").forEach((div) => {
        div.addEventListener('click', show_popup)
    })
    document.querySelector("button").addEventListener('click', hide_popup)

    </script>
</body>


</html>

