<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <% include navbar.ejs %>
    <%- include("popup", { tasks: tasks }) %>
    <div id="week-list">
        <div id="progress-bar"></div>
        <div id="calendar-header">
            <div><span id="total-points"></span> points</div>
            <div id="semester">Spring 2020</div>
        </div>
        <% for (let i = 1; i < 9; i++) { %>
            <div class="week-summary">
                <div class="week-num"><%= i %></div>
                <div> 
                    <span class="total-points-week" id="total-points-week-<%= i %>">
                        <%= points[i] == undefined ? 0 : points[i] %>
                    </span> points
                </div>
                <!--<div class="edit"><i class="fas fa-edit"></i></div>-->
            </div>
        <% } %>
    </div>


    <script src="js/weekform.js"></script>
    <script src="js/summary.js"></script>
</body>
</html>
