<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>Healthy Horizons</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    
</head>

<body>
    <% include navbar.ejs %>

    <div class="box">
        <img src="./resources/logo-transparent.png" class="center" style="width: 100%; padding-top: 20px">

        <h1>Rewards Program<br>Point Submission</h1>
    
        <p>Welcome to the new online point submission for the Healthy Horizons rewards program!  This website is an online submission process that serves as an alternative to the form you might submit at the end of the semester.</p>

        <p>If you'd like to try to submit your points online click on the <a href="./points">points</a> tab.  You can still print and turn in the <a href="./resources/PointSubmission.pdf">paper form</a> instead of submitting online if you'd like.</p>

        <h2>About this Website</h2>
        
        <p style= "padding-top:20px">
            This webpage started as an Engineering Projects in Community Service (EPICS) project through the Computer Science Program at Butler University. The EPICS program allows Computer Science students at Butler University to complete projects for organizations throughout the Indianapolis area.  
        </p>
        <p>
            The Healthy Horizons program came to the EPICS coordinator Dr. Panos Linos to recruit a team of students to find an alternative to the paper form submission.  The students thought a webpage was a great alternative!
        </p>
        <p>
            This project started in the Spring semester of 2019.  You can find out more about the team and project's development on our <a href="https://epics.butler.edu/projects/fall2019/healthy-horizons/">EPICS project website.</a>
        </p>

        <h2>How to Use This Website</h2>

        <p>
            This replaces the paper form you are used to submitting at the end of the semester.  Click on the points tab to get started.  You can type in the number of times you've done each task, and it will automatically count up the points for you!  When you are done submitting all your points, you can click the button at the bottom to take you to the final submission page.
        </p>

        <p>
            The final submission page will let you choose the prizes cooresponding the prize tier you qualify for.  Then after typing in your name and email, you can submit all your points for the semester, just as you would when you submit the paper form!
        </p>

        <p>
            You'll be able to see your submission after you submit your points.  We ask for you email so we can contact you if anything went wrong.  We hope you enjoy the online submission process!
        </p>
    </div>
    

</body>


</html>

