<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>Healthy Horizons</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    <link rel="stylesheet" type="text/css" href="./style/index.css">    

    
</head>

<body>
    <% include ./navbar.ejs %>
    <div class="box" id="main">
        <img src="./resources/logo-top-transparent.png" class="center" style="width: 100%; padding-top: 20px">

        <h1>Healthy Horizons</h1>
    
        <p>Welcome to Healthy Horizons. As a faculty or staff member, or spouse/child of a faculty or staff member of Butler University, you are eligible to participate in this program.</p>

        <p>If you are a member, you can submit points online <a style= "color:var(--main-clr)" href="./home.html">here</a> or through a pdf <a style= "color:var(--main-clr)" href="./resources/PointSubmission.pdf">here</a>.</p>

        <h2>About Us</h2>
        
        <p style= "padding-top:30px">
            This program is designed to promote a healthful lifestyle by providing a comprehensive wellness plan to you.  This program can assist you in improving your physical, mental, and emotional health while providing you with ongoing information and health education programs. In addition, we work to help you identify potential health risks and ways to reduce these risks. This is NOT intended to replace your usual medical care, but rather is intended to help you, with your physician's support. 
        </p>

        <h3>How Do I Start?</h3>
       
        <ul>
            <li>
                Schedule an appointment with Health Horizons for your Wellness Consult by calling 317-940-8143 or emailing healthorizons@butler.edu.        
            </li>
            <li>
                Consults are 45 minutes and can be scheduled during the work day. 
            </li>
            <li>
                For more information click <a href="https://www.butler.edu/file/88328/download"> here.</a>
            </li>
        </ul>

        <h3>Incentives</h3>

        <ul>
            <li>A financial incentive of $100 for completion of a Wellness Consult (health screening and health risk assessment) through Healthy Horizons will be available to all Butler employees (full or part-time).</li>
            <li>A financial incentive of $100 for completion of a Wellness Consult (health screening and health risk assessment) through Healthy Horizons will be available to spouses enrolled in Butler’s group health plan.</li>
            <li>An additional $150 financial incentive is available to employees based on completion of the corresponding health coaching program that is determined by the individual’s Wellness Consult results.</li>
            <li>An additional $150 financial incentive is also available to eligible spouses upon completion of the corresponding health coaching program that is determined by the individual’s Wellness Consult results.</li>
        </ul>
    </div>
    

</body>


</html>

