<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/master.css">
    <link rel="stylesheet" type="text/css" href="./style/home.css">

    <style>
        #silver, #platinum, #gold {
            width: 80%;
        }
    </style>
</head>

<body>
    <% include navbar.ejs %>
        
    <div class="box center">
        <img src="./resources/sun.png">
        <h2>List of Potential Prizes</h2> 
        <p>A healthy lifestyle isn't the only benefit of the Healthy Horizons initiative—there are also many prizes you can earn based on the amount of points you earn throughout the semester! Below are the potential prizes you can win organized by the point levels:</p>
    
        <div id="silver">
            <h3>Silver (150 Points)</h3>
            <ul>
                <li>Fingerless Gloves</li>        
                <li>Pill Dispenser</li>
                <li>Magnetic Clip</li>
                <li>First Aid Kit</li>
                <li>Cloth Grocery Bag</li>
                <li>Water Bottle</li>
            </ul>
        </div>
    
        <div id="gold">
            <h3>Gold (250 Points)</h3>
            <ul>
                <li>Camp/Car LED Lantern</li>
                <li>Reusable Utensils & Bag</li>
                <li>Zen Coloring Book & Pencils</li>
                <li>Dri-Mesh Shirt</li>
                <li>Lined Thermos</li>
            </ul> 
        </div>
    
        <div id="platinum">
            <h3>Platinum (350 Points)</h3>
            <ul>
                <li> Waterproof Picnic Throw</li>
                <li> Bluetooth Earbuds</li>
                <li> Rain Jackets</li>
            </ul>
        </div>
        
    </div>
</body>
</html>