<nav style="z-index: 20">
    <div class="navButton"> 
        <a href="./index">About</a>
    </div>

    <div class="navButton"> 
            <a href="./home">Home</a>
    </div>

    <div class="navButton"> 
        <a href="./listPrizes">Prizes</a>
    </div>
</nav>