<nav style="z-index: 20">
    <div class="navButton"> 
        <a href="/">About</a>
    </div>

    <div class="navButton"> 
        <a href="./points">Points</a>
    </div>

    <div class="navButton"> 
        <a href="./prizes">Prizes</a>
    </div>
</nav>