<nav>
    <div> 
        <a href="/">About</a>
    </div>

    <div> 
        <a href="/calendar">Calendar</a>
    </div>

    <div> 
        <a href="/prizes">Prize List</a>
    </div>
    <div> 
        <a href="/admin">Admin</a>
    </div>
</nav>

