<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./style/master.css">
        <link rel="stylesheet" type="text/css" href="./style/home.css">
</head>      
<div display= "none" id="not-enough">
                    Sorry, but based on the activity you have entered, you have not built up enough points to be considered for any prizes. Are you sure you would like to submit your form?
</div>
