<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./style/master.css">
        <link rel="stylesheet" type="text/css" href="./style/home.css">

        <style>
            input[type=checkbox]
            {
                transform:scale(1.5);
            }/*
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                opacity: 1;
            }*/
        </style>
    </head>
    <body>
         <% include ./navbar.ejs %>

        <div id="point-submission">

            <form id="points"  class="box" method="POST">
                <img src="./resources/logo-transparent.png">

                <div id="congrats">
                    <h2>Congratulations for your hard work this semester!</h2> 
                    <p>Please select a prize that corresponds with your level of achievement.</p>
                </div>

                <div style="display: none" id="not-enough">
                    Sorry, but based on the activity you have entered, you have not built up enough points to be considered for any prizes. Are you sure you would like to submit your form?
                </div>

            <div id="silver">
                <h3>Silver (150 Points)</h3>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="fingerlessGloves">
                    <label>Finglerless Gloves</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="pillDispenser">
                    <label>Pill Dispenser</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="megneticClip">
                    <label>Magnetic Clip</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="firstAidKit">
                    <label>First Aid Kit</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="groceryBag">
                    <label>Cloth Grocery Bag</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="waterBottle">
                    <label>Water Bottle</label>
                </div>
            </div>

            <div id="gold">
                <h3>Gold (250 Points)</h3>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="lantern">
                    <label>Camp/Car LED Lantern</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="utensils">
                    <label>Reusable Utensils & Bag</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="coloringBook">
                    <label>Zen Coloring Book & Pencils</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="shirt">
                    <label>Dri-Mesh Shirt</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="thermos">
                    <label>Lined Thermos</label>
                </div>
            </div>

            <div id="platinum">
                <h3>Platinum (350 Points)</h3>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="picnic">
                    <label> Waterproof Picnic Throw</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="earbuds">
                    <label> Bluetooth Earbuds</label>
                </div>
                <div class="objective">
                    <input type="checkbox" min="0" placeholder="0" name="rainJackets">
                    <label> Rain Jackets</label>
                </div>
            </div>

            <button type="submit">Submit</button>

        </form>

        <script src="script/localStorage.js" type="text/javascript"></script>
        <script>
        
            let points = getPoints()

            if (points < 150)
            {
                let fail = document.getElementById("not-enough")
                fail.style.display = "block";

                let congrats = document.getElementById("congrats")
                congrats.style.display = "none";

                let silver = document.getElementById("silver")
                silver.style.display = "none";
            }

            if (points < 250)
            {
                let gold = document.getElementById("gold")
                gold.style.display = "none";
            }

            if (points < 350)
            {
                let platinum = document.getElementById("platinum")
                platinum.style.display = "none";
            }
           

        </script>

        <script>

        goback = document.querySelector('#goback');
        goback.addEventListener('onclick', (event) => {
            event.preventDefault();
            window.location.href = "./home"
        })
        
        form = document.querySelector('form')
        form.addEventListener('submit', (event) => {
            // Stop page from reloading (default)
            event.preventDefault()
            
            // Read the data from local storage

            // Read the data from the above form

            // Concatenate all data into one object

            // POST data to the server
            
        })    

        </script>

    </body>
</html>