<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Prizes</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <style>
        #silver, #platinum, #gold {
            width: 80%;
        }
    </style>
</head>

<body>
    <% include navbar.ejs %>
        
    
    <div class = 'box center'>
        <img src="images/sun.png">
        <h2>List of Potential Prizes</h2> 
        <p>A healthy lifestyle isn't the only benefit of the Healthy Horizons initiative—there are also many prizes you can earn based on the amount of points you earn throughout the semester! Below are the potential prizes you can win organized by the point levels:</p>
        <ul>
        <% tiers.forEach((tier) => { %>
            <h3><%= tier.name %> (<%= tier.point %> Points)</h3>
                <% tier.prizes.forEach((prize) => { %>
                    <li><%= prize %></li>
                <% }) %>
        <% }) %>
        </ul>
    </div>
</body>
</html>
