<html>
    <head>
        <title>Final Submission</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./style/master.css">
        <link rel="stylesheet" type="text/css" href="./style/home.css">

        <script src="script/localStorage.js" type="text/javascript"></script>
    </head>
    <body>
        
        <% include navbar.ejs %>
        
        <div class="box center">
            <img src="./resources/sun.png">

            <% include prizePartials/notEnough.ejs %>
            <% include prizePartials/prizeSelection.ejs %>
            <% include prizePartials/alreadySubmitted.ejs %>
        </div>

        <script>
            // Show goback, prizeSelection, or already-submitted based
            // on point total and submission status
            
            let points = getPoints()

            if (didUserSubmit()) {
                // User already has submitted points this semester
                document.getElementById("already-submitted").style.display = "initial"

            } else if (points < 150) {
                // User doesn't have enough points to select a prize
                document.getElementById("not-enough").style.display = "initial"

            } else {
                // User has enough points to select a prize
                document.getElementById("prize-selection").style.display = "initial"

                if (points < 250)
                {
                    let gold = document.getElementById("gold")
                    gold.style.display = "none"
                }

                if (points < 350)
                {
                    let platinum = document.getElementById("platinum")
                    platinum.style.display = "none"
                }
            }

        </script>

    </body>
</html>