<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./style/master.css">
        <link rel="stylesheet" type="text/css" href="./style/home.css">

        <style>
            input[type=checkbox]
            {
                transform:scale(1.5);
            }/*
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                opacity: 1;
            }*/
        </style>
    </head>
    <body>
         <% include ./navbar.ejs %>
        
        <div class="box center">
            <img src="./resources/logo-transparent.png">
            <div id="not-enough">
                 <% include ./goback.ejs %>
            </div>
            <div id="pointsubmission"> 
                <% include ./prizeSelection.ejs %>
            </div>

            <div id="already-submitted">
                <% include ./already-submitted.ejs %>
            </div>
        </div>


        <script src="script/localStorage.js" type="text/javascript"></script>
        <script>
        
            let points = getPoints()
            let submitted = didUserSubmit()
            if (submitted) {
                let submittedDiv = document.getElementById("alreadySubmitted")
                submittedDiv.style.display = "none"
            }
            else{
                if (points < 150)
                {
                    let fail = document.getElementById("not-enough")
                    fail.style.display = "block"

                    let congrats = document.getElementById("congrats")
                    congrats.style.display = "none"

                    let silver = document.getElementById("silver")
                    silver.style.display = "none"
                }

                if (points < 250)
                {
                    let gold = document.getElementById("gold")
                    gold.style.display = "none"
                }

                if (points < 350)
                {
                    let platinum = document.getElementById("platinum")
                    platinum.style.display = "none"
                }
            }
        

        </script>

        <script>

        



        form = document.querySelector('form')
        form.addEventListener('submit', (event) => {
            // Stop page from reloading (default)
            event.preventDefault()
            
            // Read the data from local storage
            tasks = getTaskData()

            // Read the data from the above form

            // Concatenate all data into one object

            // POST data to the server
            
            // Update the local storage that user submitted
            userSubmitted()
        })    

        </script>

    </body>
</html>