#point-submission img {
    width: 100%;
    padding-bottom: 10px;
}

#point-submission {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.objective {
    display: flex;
    align-items: baseline;
    width: 100%;
}
.objective > input {
    text-align: start;
    width: 10%;
}

.objective > label {
    width: 85%;
    padding-left: 10px;
}

.submit {
    background-color: var(--main-clr);
}

@media screen and (max-width: 480px) 
{
    #point-submission{
        flex-direction: column;
    }
    #week-selection{
        order: 0;
    }
    #stats{
        order: 1;
    }
    #points{
        order: 2;
    }
    .box {
        width: 100%;
    }
}
@media screen and (min-width: 1201px)
{
    #stats{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 120px;
    }
    #week-selection{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 120px;
    }
    #stats {
        order:2;
    }
    #points {
        order:1;
    }
    
}

@media screen and (max-width: 1200px) 
{
    #point-submission{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #week-selection{
        order: 0;
    }
    #stats{
        order: 1;
    }
    #points{
        order: 2;
    }
}
