nav {
  background-color: #1287da;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
}

nav div {
  background-color: #92c3ff;
  margin: 0 10px;
  z-index: 100;
}

nav div a {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

nav div:hover {
  background-color: #0057ba;
  transition-duration: .3s;
}

nav a {
  color: whitesmoke;
}

nav a:hover {
  text-decoration: none;
  color: whitesmoke;
}

#week-form {
  width: 600px;
  height: calc(90vh - 60px);
  max-height: 700px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: black;
}

#week-form #form-header {
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 60px;
}

#week-form .task {
  display: flex;
  padding: 10px;
}

#week-form .task input {
  width: 20%;
  max-width: 80px;
  margin-right: 5px;
  border: 0;
  padding: 5px;
}

#calendar-header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
}

#calendar-header #total-points {
  font-size: 30pt;
}

#week-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 230px;
  border-left: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(transparent, #0057ba, transparent);
}

.week-summary {
  width: 100%;
  margin: 5px 0;
  padding: 0 10px;
  background: linear-gradient(to right, #1287da, lightgrey, lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.week-summary:hover {
  width: 105%;
}

.week-num {
  color: whitesmoke;
  font-size: 30px;
}

.edit {
  cursor: pointer;
  color: black;
  height: 100%;
  padding: 0 15px;
  font-size: 25px;
}

body {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eeecec;
  opacity: 1;
  /* Firefox */
}

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

/* HEADERS */
h1 {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  text-align: center;
}

h3 {
  padding: 10px;
  padding-top: 30px;
  text-align: center;
}

/* OTHER CLASSES */
ul {
  list-style-type: square;
}

.center {
  margin: 0 auto;
}

.box {
  margin: 30px;
  padding: 30px;
  max-width: 600px;
  box-shadow: 0 2px 20px grey;
  border: solid #92c3ff 2px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box img {
  width: 100%;
}

.skinny {
  width: 300px;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 120px;
}

button {
  width: 80%;
  height: 40px;
  background-color: #92c3ff;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 0 0;
}

button a {
  color: inherit;
}

/* Remove increment/decrement buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#progress-bar {
  background-color: black;
  width: 100%;
  height: 25px;
  border-radius: 8px;
  max-width: 100%;
}
