nav {
  background-color: #1287da;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
}

nav div {
  background-color: #92c3ff;
  margin: 0 10px;
  z-index: 100;
}

nav div a {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

nav div:hover {
  background-color: #0057ba;
  transition-duration: .3s;
}

nav a {
  color: whitesmoke;
}

nav a:hover {
  text-decoration: none;
  color: whitesmoke;
}

#week-form {
  width: 600px;
  height: calc(90vh - 60px);
  max-height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  color: black;
}

#week-form #task-list {
  overflow: scroll;
}

#week-form #form-header {
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#week-form .task {
  display: flex;
  padding: 5px;
}

#week-form .task input {
  width: 20%;
  max-width: 80px;
  margin-right: 5px;
  border: 0px;
  border-bottom: solid black 2px;
  padding: 5px;
}

#week-form .task .task-description {
  align-self: center;
}

#week-form .button-list {
  display: flex;
}

#week-form .button-list #save-changes {
  width: auto;
  flex-grow: 4;
}

#week-form .button-list #discard-changes {
  width: auto;
  flex-grow: 1;
  background-color: lightgrey;
}

#calendar-header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

#calendar-header #total-points {
  font-size: 30pt;
}

#week-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 230px;
  background: linear-gradient(90deg, #DDA0DD66, #92c3ff);
}

.week-summary {
  width: 100%;
  margin: 3px 0;
  padding: 0 10px;
  /*background: linear-gradient(to right, $color-blue, $color-grey, $color-grey);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
}

.week-summary:hover {
  /*background: linear-gradient(to right, $color-blue-dark, $color-grey, $color-grey);*/
  opacity: 1;
}

#week-summary-expanded {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
  transition-duration: 0.2s;
  transition-property: all;
  display: none;
}

.week-selected {
  font-weight: 600;
  opacity: 1;
}

.week-num {
  /*color: whitesmoke;*/
  font-size: 25px;
}

.edit {
  cursor: pointer;
  color: black;
  height: 100%;
  padding: 0 15px;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 60px 0 0 0;
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eeecec;
  opacity: 1;
  /* Firefox */
}

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

/* HEADERS */
h1 {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  text-align: center;
}

h3 {
  padding: 10px;
  padding-top: 30px;
  text-align: center;
}

/* OTHER CLASSES */
ul {
  list-style-type: square;
}

.box {
  margin: 30px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 2px 20px grey;
  background-color: white;
  border: solid 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #DDA0DD, #92c3ff);
}

.debug {
  padding: 5px;
  margin-bottom: -10px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, darkred, firebrick);
}

.debug * {
  display: flex;
  justify-content: space-between;
}

.box img {
  width: 100%;
}

button {
  width: 100%;
  height: 40px;
  background-color: #92c3ff;
  color: whitesmoke;
  font-weight: 600;
  border: 0;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 20px 0 0 0;
  transition: 0.3s;
}

button:hover {
  background-color: #1287da;
}

button a {
  color: inherit;
}

/* Remove increment/decrement buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#progress-bar {
  background-color: black;
  width: 100%;
  height: 25px;
  max-width: 100%;
}

#summary {
  display: flex;
  flex-direction: column;
}

#prize-selection {
  display: none;
}
