/* This is for storing variables...like colors! */
:root {
    --main-clr: #372c9b;
    --secondary-clr: rgb(139, 141, 255);
    --terciary-clr: rgb(182, 183, 248);
}

body {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    background-color: whitesmoke;
}

nav {
    background-color: var(--main-clr);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}
.navButton {
    background-color: var(--secondary-clr);
    margin: 0 10px;
    z-index: 100;
}
.navButton:hover {
    background-color: var(--terciary-clr);
    transition-duration: .3s;
}
.navButton > a {
    display: inline-block;
    padding: 15px;
}
nav a {
    color: whitesmoke;
}
nav a:hover {
    text-decoration: none;
    color: whitesmoke;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeecec;
    opacity: 1; /* Firefox */
}
.center {
    margin: 0 auto;
}
.box{
    margin: 30px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 2px 20px grey;

    border: solid var(--secondary-clr) 2px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skinny {
    width: 300px;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 120px;
}

h2 {
    font-weight: 500;
}