/* This is for storing variables...like colors! */
:root {
    --main-clr: #1287da;
    --secondary-clr:#92c3ff;
    --terciary-clr: #a0bccc;
}

body {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    background-color: whitesmoke;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

button a {
    color: inherit
}

/* NAVIGATION BAR */

nav {
    background-color: var(--main-clr);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.navButton {
    background-color: var(--secondary-clr);
    margin: 0 10px;
    z-index: 100;
}

.navButton:hover {
    background-color: rgba(14, 26, 113, 0.6);
    transition-duration: .3s;
}

.navButton > a {
    display: inline-block;
    padding: 15px;
}

nav a {
    color: whitesmoke;
}

nav a:hover {
    text-decoration: none;
    color: whitesmoke;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeecec;
    opacity: 1; /* Firefox */
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

/* HEADERS */

h1 {
    font-size: 50px;
    margin: 20px auto;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    text-align: center;
}

h3 {
    padding: 10px;
    text-align: center;
}

/* OTHER CLASSES */

ul {
    list-style-type: square;
}

.center {
    margin: 0 auto;
}

.box{
    margin: 30px;
    padding: 30px;
    max-width: 600px;

    box-shadow: 0 2px 20px grey;
    border: solid var(--secondary-clr) 2px;
    background-color: white;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 100%
}

.skinny {
    width: 300px;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 120px;
}

button {
    width: 100%;
    height: 40px;
    background-color: var(--secondary-clr);
    border: solid var(--secondary-clr) 0;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

img {
    padding-bottom: 12px;
}