<div id="already-submitted" style="display: none">
    <h2>Congratulations on your hard work this semester!</h2> 
    
    <p>You have already submitted this semester.  Thank you for participating.  Be sure to come back next semester!</p>
</div>