<style>
    .text-field {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    /* .text-field * {
        width: 20%;
    } */

    .text-field input {
        flex-grow: 2;
        padding-right: 20px;
    }

    .text-field label {
        width: 20%;
        flex-grow: 1;
        text-align: right;
        padding-right: 10px;
    }
</style>

<form id="prize-selection" method="POST" style="display:none">

    <h2>Congratulations for your hard work this semester!</h2> 
    <p>Please select your prize!  You can receive one item from each tier level.</p>

    <div id="silver">
        <h3>Silver (150 Points)</h3>
        <div class="objective">
            <input type="radio" name="silver" value="fingerlessGloves">
            <label>Fingerless Gloves</label>
        </div>
        <div class="objective">
            <input type="radio" name="silver" value="pillDispenser">
            <label>Pill Dispenser</label>
        </div>
        <div class="objective">
            <input type="radio" name="silver" value="megneticClip">
            <label>Magnetic Clip</label>
        </div>
        <div class="objective">
            <input type="radio" name="silver" value="firstAidKit">
            <label>First Aid Kit</label>
        </div>
        <div class="objective">
            <input type="radio" name="silver" value="groceryBag">
            <label>Cloth Grocery Bag</label>
        </div>
        <div class="objective">
            <input required type="radio" name= "silver" value="waterBottle">
            <label>Water Bottle</label>
        </div>
    </div>

    <div id="gold">
        <h3>Gold (250 Points)</h3>
        <div class="objective">
            <input type="radio" name="gold" value="lantern">
            <label>Camp/Car LED Lantern</label>
        </div>
        <div class="objective">
            <input type="radio" name="gold" value="utensils">
            <label>Reusable Utensils & Bag</label>
        </div>
        <div class="objective">
            <input type="radio" name="gold" value="coloringBook">
            <label>Zen Coloring Book & Pencils</label>
        </div>
        <div class="objective">
            <input type="radio" name="gold" value="shirt">
            <label>Dri-Mesh Shirt</label>
        </div>
        <div class="objective">
            <input type="radio" name="gold" value="thermos">
            <label>Lined Thermos</label>
        </div>
    </div>

    <div id="platinum">
        <h3>Platinum (350 Points)</h3>
        <div class="objective">
            <input type="radio" name="platinum" value="picnic">
            <label> Waterproof Picnic Throw</label>
        </div>
        <div class="objective">
            <input type="radio" name="platinum" value="earbuds">
            <label> Bluetooth Earbuds</label>
        </div>
        <div class="objective">
            <input type="radio" name="platinum" value="rainJackets">
            <label> Rain Jackets</label>
        </div>
    </div>

    <div id="contact-info">
        <h3>Contact Info</h3>
        <p>Please fill out this contact information so we know who is submitted their points!  We will use your email if for some reason we need to contact you.</p>
        <div class="text-field">
            <label>First Name</label>
            <input required id="firstName" type="text" name="first name">
        </div>
        <div class="text-field">
            <label>Last Name</label>
            <input required id="lastName" type="text" name="last name">
        </div>
        <div class="text-field">
            <label>Butler Email</label>
            <input required id="email" type="text" name="email">
        </div>
        <button class="submit">Final Semester Point Submit</button>
    </div>   
</form>

<script>
    form = document.querySelector('form')
    form.addEventListener('submit', async (event) => {
        // Stop page from reloading (default)
        event.preventDefault()
        
        // Read the data from local storage
        tasks = getTaskData()

        // Read the data from the above form
        prizeData = {
            silver: getRadioResult("silver"),
            gold: getRadioResult("gold"),
            platinum: getRadioResult("platinum"),
            firstName: document.querySelector("#firstName").value,
            lastName: document.querySelector("#lastName").value,
            email: document.querySelector("#email").value,
        }

        
        // Save prize data to localStorage
        savePrizeSelection(prizeData)

        // Concatenate all data
        all = {
            tasks: tasks,
            prize: prizeData,
            points: getPoints()
        }

        // POST data to the server
        const response = await fetch("/prize", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(all)
        })

        if (response.ok) {
            // Successful response: update submission and refresh page
            userSubmitted()
            location.reload()
        } else {
            // Could not send response
            // Tell user to check connection and try again
        }
    })

    function getRadioResult(id) {
        buttons = document.querySelectorAll("input[name=" + id + "]")
        for (let i = 0; i < buttons.length; i++) {
            if (buttons[i].checked) {
                console.log(buttons[i])
                return buttons[i].nextElementSibling.textContent
            }
        }
        return null
    }

</script>